.titulosmile{
    color: #EDE9DA; 
    margin-top: 115px;
}

.introtext{
    margin-top: 10%;
}

.textintro{
    text-align: center;
}

.ilustracion{
    width: 600px;
    margin-top: 50%;
}

.elcuadro{
    height: -10%;
    background-color: #93BFCF;
    margin-top: 150px;
    border-radius: 80px;
}